<!DOCTYPE html>
<html lang="en" ng-app='myWebsite'>
<head>
	<title>Matthew Wang</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"> </script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js"></script>
	<link rel='stylesheet' href='bootstrap/css/bootstrap.min.css'>
</head>
<body ng-controller='MainController'>
<header id="header">
<div id='menu'>
	<a ng-click="setRoute('home')" class='btn'>Home</a>
	<a ng-click="setRoute('about')" class='btn'>About</a>
	<a ng-click="setRoute('experience')" class='btn'>Experience</a>
	
</div>

</header>

  <div> Hello {{"World"}}!</div>
  <div ng-controller='MainController'>
  	{{stuff}}

  </div>


  <div id="container">
  	<div ng-view></div>

  </div>
  
<script type='text/javascripts' src='js/app.js'> </script>
<script type='text/javascripts' src='js/controllers/MainController.js'> </script>
</body>


</html>