#tululoogame {
    text-align: center;
}

#gameinstructions {
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 4px;   /* within paragraph */
    margin-bottom: 4px; /* between paragraphs */
}

#gameinstructions h1 {
    color: yellow;
}


body {
    background-color: darkslategray;
}